<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Details</title>
    <link rel="stylesheet" href="/css/main.css"/>
  </head>
  <body>
    <h1>User Input Details</h1>
    <p>{{name}}</p>
    <p>{{email}}</p>
    <p>{{birthYear}}</p>
    <p>{{position}}</p>
    <p>{{password}}</p>

  </body>
</html>
